<style>
    .contactbtn {
        padding: 0 26px;
        height: 50px;
        border-radius: 80px;
        margin-top: 33px;
        color: #f9f6f3 !important;
        font-size: 16px;
        line-height: 23px;
        min-width: 180px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px 13px;
        letter-spacing: .65px;
        border: 1px solid #292521;
        background-color: #292521;
        width: max-content;
        transition: 0.3s all;
    }

    .contactbtn svg {
        width: 18.06px;
        height: auto;
    }

    .contactbtn svg .cls-1,
    .contactbtn svg .cls-2{
        stroke: #f9f6f3;
    }

    .contactbtn:hover {
        background-color: transparent;
        color: #292521 !important;
    }

    .contactbtn:hover svg .cls-1,
    .contactbtn:hover svg .cls-2 {
        stroke: #292521;
    }
    
</style>

<a class="contactbtn font-neue-roman" href="/pages/contact">Contact us
    <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.04 11.49">
        <defs>
            <style>.cls-1{stroke-miterlimit:5;}.cls-1,.cls-2{fill:none;stroke:#000;stroke-width:1.5px;}.cls-2{stroke-linejoin:round;}</style>
        </defs>
        <g id="Layer_2-2">
            <polyline class="cls-1" points="12.45 .54 17.95 5.74 12.45 10.94"></polyline>
            <line class="cls-2" y1="5.74" x2="17.95" y2="5.74"></line>
        </g>
    </svg>
</a>